/* 全局样式 */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 微软雅黑;
	font-size: 12px;
	margin: 0 auto;
}
li{
	list-style: none;
}
.clearfix:after,.clearfix:before{
			content: ".";
			display: block;
			clear: both;
			height: 0;
			overflow: hidden;
			visibility: hidden;
}

/* 弹出提示栏*/
.inform{
	width: 100%;
	height: 36px;
	margin: 0 auto;
	/*background-color: #f3f3f3;*/
	/*border: 1px solid cyan;*/
}
.inform .inform-cont{
	width: 1205px;
	height: 100%;
	margin:0 auto;
}
.inform .inform-cont a{
	text-decoration: none;
	color: #39a030;
}
.inform  p{
	line-height: 36px;
}
.inform .inform-cont span{
	float: right;

}
.inform .inform-cont a{
	color: #333;
	text-decoration: none;
}

.inform .inform-cont .shutdown{
	display: inline-block;
	background: #fff url(../images/icon.jpg)  no-repeat -16px 0;
	width: 10px;
	height: 12px;
	padding-right: 6px;
	overflow: hidden;
	vertical-align: text-bottom;
	cursor: pointer;
}



/* 登录弹窗 */
#login{
	height: 100%;
	width: 100%;
}
#login .mask{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;z-index: 1000;
}
#login .mask{
		background-color: #000;
		opacity: 0.5;
}
#login .content{
	width: 387px;
	height: 298px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1001;
	background-color: #fff;
	box-sizing: border-box;
	padding: 30px 53px 18px 38px;
}
#login .content .shutdown{
	position: absolute;
	top: 10px;
	right: 9px;
}
#login .content p{
	font: 18px/28px 微软雅黑;
	color: #444444;
	font-weight: 600;
}
#login .content .shutdown{
	display: inline-block;
	background: #fff url(../images/icon.jpg)  no-repeat -16px 0;
	width: 10px;
	height: 12px;
	padding-right: 6px;
	overflow: hidden;
	vertical-align: text-bottom;
	cursor: pointer;
}
#login .content .id{
	margin-top: 20px;
}
#login .content input{
	width: 295px;
	height: 45px;
	margin-bottom: 15px;
	border: 1px solid #dfdfdf;
	padding-top: 5px;
	padding-left: 10px;
	font: 18px/28px 微软雅黑;
	color: #ccc;
	background: #fafafa;
}
#login .content .btn{
	margin-top: 13px;
	margin-bottom: 10px;
	background: #2db352;
	font-size: 16px;
	color: #fff;
}


/* 导航栏 */
.naviator{
	margin: 0 auto;
	width: 1206px;
	height: 65px;
	/*line-height: 88px;*/
	background: #fff;
}
.naviator .navbar{
	position: relative;
	display: inline-block;
	border: 1px solid magenta;
	width: 100%;
	height: 30px;
}
.naviator .navbar .nav-left{
	/*float: left;*/
	height: 100%;
	padding: 5px 0;
	position: relative;
}
.naviator .navbar .nav-left .head .edu{
	display: inline-block;
	background: url(../images/icon.jpg) no-repeat 0 -60px;
	vertical-align: text-bottom;
	width: 71px;
	height: 21px;
	padding-right: 14px;
}
.naviator .navbar .nav-left .head .net{
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 21px;
}

/* before-follow */
.naviator .navbar .nav-left button {
	display: inline-block;
	background: url(../images/icon.jpg) no-repeat 0 -87px;
	width: 54px;
	height: 22px;
	margin: 0 14px 0 21px;
	vertical-align: text-bottom;
	position: relative;
}
.naviator .navbar .nav-left .before-follow span{
	display: inline-block;
	position: absolute;
	top: 4px;
	right:-42px;
	color: #999;
}
.naviator .navbar .nav-left .before-follow{
	display: inline-block;
	position: absolute;
	left: 266px;
	top: 5px;
}
/* after-follow */
.naviator .navbar .nav-left .after-follow{
	display: inline-block;
	position: absolute;
	left: 266px;
	top: 9px;
}
.naviator .navbar .nav-left .after-follow i{
	display: inline-block;
	padding-right: 2px;
	background: url(../images/icon.jpg) no-repeat -32px 0;
	width: 12px;
	height: 9px;
}
.naviator .navbar .nav-left .after-follow a{
	text-decoration: none;
	color: #333;
	padding-left: 10px;
}
.naviator .navbar .nav-left .after-follow a:hover{
	color: #39a030;
	text-decoration: underline;
}
.naviator .navbar .nav-right{
	position: absolute;
	right: 18px;
	top: 8px;
	display: inline-block;
	float: right;
}
.naviator .navbar .nav-right ul li{
	float: left;
	margin-right: 54px;
	list-style: none;
}
.naviator .navbar .nav-right ul li a{
	text-decoration: none;
	color: #999;
	font-size: 16px;
	line-height: 20px;
}
.naviator .navbar .nav-right ul li a:hover{
	color: #39a030;

}
.naviator .navbar .nav-right ul li:nth-child(4) a{
	display: inline-block;
	background: url(../images/icon.jpg) no-repeat 0 -16px;
	width: 18px;
	height: 18px;
	margin-top: 1px;
	vertical-align: text-bottom;
}
.naviator .navbar .nav-right li:nth-child(4) a:hover{
	background: #fff  url(../images/icon.jpg) no-repeat -21px -16px;
	width: 18px;
	height: 18px;
	z-index: 999;
}
/* 导航栏结束 */



/* 轮播图 */
#banner{
	width: 1612px;
	height: 460px;
	margin: 0 auto;
	margin-top: 37px;
	position: relative;
}
#banner .img>li{
	position: absolute;
    transition: all 1s ease;
    opacity:0;
}
#banner .order{
	position: absolute;
	width: 100%;
	top: 430px;
	left: 100px;
	text-align: center;
}
#banner .order li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#banner .img .on {
    display: block;
    opacity: 1;
}
#banner .order .on {
    background: #f00;
}


/* 介绍 */
#intro{
	width: 1206px;
	height: 178px;
	margin: 0 auto;
	margin-top: 62px;
	border: 1px solid blue;
}
#intro .eatease{
	float: left;
	width: 340px;
	height: 100%;
	margin-right: 84px;
}
#intro .eatease img{
	float: left;
	width: 80px;
	height: 81px;
	margin-top: 7px;
}
#intro .eatease .doc{
	margin-left: 100px;
}
#intro .eatease .doc h2{
	color: #333;
	font-size: 22px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 21px;
}
#intro .eatease .doc p{
	color: #666;
	font-size: 14px;
}
#intro .eatease .doc a{
	display: block;
	margin-top: 34px;
	text-decoration: none;
	color: #39a030;
}
#intro .eatease .doc a:hover{
	text-decoration: underline;
}

#intro .cloud{
	float: left;
	width: 340px;
	height: 100%;
	margin-right: 84px;
}
#intro .cloud img{
	float: left;
	width: 80px;
	height: 81px;
	margin-top: 7px;
}
/* 设置div的左外边距,可以使文本左对齐 */
#intro .cloud .doc{
	margin-left: 100px;
}
#intro .cloud .doc h2{
	color: #333;
	font-size: 22px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 21px;
}
#intro .cloud .doc p{
	color: #666;
	font-size: 14px;
}
#intro .cloud .doc a{
	display: block;
	margin-top: 34px;
	text-decoration: none;
	color: #39a030;
}
#intro .cloud .doc a:hover{
	text-decoration: underline;
}
#intro .mooc{
	float: left;
	width: 320px;
	height: 100%;
}
#intro .mooc img{
	float: left;
	width: 80px;
	height: 81px;
	margin-top: 7px;
}
#intro .mooc .doc{
	margin-left: 100px;
}
#intro .mooc .doc h2{
	color: #333;
	font-size: 22px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 21px;
}
#intro .mooc .doc p{
	color: #666;
	font-size: 14px;
}
#intro .mooc .doc a{
	display: block;
	margin-top: 34px;
	text-decoration: none;
	color: #39a030;
}
#intro .mooc .doc a:hover{
	text-decoration: underline;
}



/* 展示 */
#show{
	width: 1612px;
	height: 220px;
	margin: 0 auto;
	margin-top: 61px;
	overflow: hidden;
}
#show img{
	float: left;
	/*margin-right:4px;*/
}
/* 去掉最后一张图片的右边距 */
#show .no-mar{
	margin-right: -4px;
}



/* 内容区 */
#content{
	position: relative;
	width: 1206px;
	margin: 0 auto;
	margin-top: 82px;
	background-color: #f8f8f8;
}

/* 内容区 内容栏 */
#content .cont-left{
	/*position: relative;*/
	float: left;
	width: 980px;
}
#content .cont-left .head {
	display: inline-block;
	float: left;
	width: 400px;
	height: 50px;
	font-size: 0;
	box-shadow: 0 1px 1px #d4d3d3;
}
#content .cont-left .head ul{
	list-style: none;
}
#content .cont-left .head li{
	display: inline-block;
	width: 200px;
	background-color: #fff;
	color: #666;
	font-size: 20px;
	line-height: 50px;
	font-family: microsoft yahei;
	text-align: center;
}
#content .cont-left .head .active{
	background-color: #39a030;
	color: #fff;
}






#content .cont-left .cont{
	float: left;
	width: 980px;
	padding-top: 28px;
	background-color: #f8f8f8;
}
#content .cont-left .cont img{
	width: 225px;
	height: 124px;
}
#content .cont-left .cont .courses{
	display: inline-block;
	position: relative;
	width: 225px;
	height: 228px;
	box-shadow: 0 1px 1px #d4d3d3;
	margin: 0 17px 20px 0;
	background: #fff;
}
#content .cont-left .cont ul{
	display: none;
}
#content .cont-left .cont  .active{
	display: block;
}
#content .cont-left .cont .img{
	padding: 1px;
	}
#content .cont-left .cont .img{
		margin-bottom: 8px;
	}
#content .cont-left .cont .c-info{
		padding: 0 5px;
		font: 12px/1.4 "Microsoft YaHei","Arial","sans-serif";
	}
#content .cont-left .cont .title{
	color: #5a5a5a;
	width: 208px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 4px;
}
#content .cont-left .cont .author{
	margin-bottom: 10px;
	margin-left: 4px;
	color: #a8a8a8;
}
#content .cont-left .cont .follow{
	display: inline-block;
	border: 1px solid #ccc;
	height: 15px;
	margin-left: 4px;
	border-radius: 2px;
	padding-bottom: 5px;
	padding-top: -2px;
	color: #ccc;
	margin-bottom: 6px;
	margin-top: -5px;
}
#content .cont-left .cont .follow .person{
	display: inline-block;
	width: 9px;
	height: 11px;
	background: #fff url(../images/icon.jpg) no-repeat -45px 0;
	margin: -1px 5px -1px 3px;
}
#content .cont-left .cont .follow span{
	display: inline-block;
	margin-top: 2px ;
}
#content .cont-left .cont li{
	width: 223px;
	height:235px;
	float: left;
	border-bottom: 1px solid #e6e6e6;
	margin-right: 23px;
	margin-bottom: 30px;
	border: 1px solid #e6e6e6;
}
#content .cont-left .cont .money{
	color: #ff3f00;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 0 4px;
}
/*hover样式*/
#content .cont-left .cont .c-detail{
	position: absolute;
	width: 480px;
	height: 238px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #ccc;
	background: #fff;
	z-index: 10;
}
#content .cont-left .cont .c-detail img{
	border: none;
	float: left;
	margin: 10px;
}
#content .cont-left .cont .c-detail .c-det{
	display: inline-block;
	margin-left: 20px;
	text-align: top;
}
#content .cont-left .cont .c-detail .c-det .title{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#content .cont-left .cont .c-detail .c-det .c-count{
	margin-left: 2px;
	color: #666;
	margin-bottom: 8px;
}
#content .cont-left .cont .c-detail .c-det .c-count .c-icon{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 6px;
	background: #fff url(../images/icon.jpg) no-repeat -45px 0;
}
#content .cont-left .cont .c-detail .c-det .c-count p{
	margin: 6px 0 6px;
}
#content .cont-left .cont .c-detail .c-desc{
	position: absolute;
	top: 156px;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	overflow: hidden;
	z-index: 50;
}
#content .cont-left .cont .c-detail .c-desc p{
	margin: 12px 20px;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	overflow: hidden;
}


/* 翻页 */
#content .cont-left .page{
	/*border: 1px solid cyan;*/
	float: right;
	margin: 10px 19px 120px 0;
	text-align: right; // 使翻页按钮始终位于右下角
}
#content .cont-left .page span{
	display: inline-block;
	float: left;
	font-size: 14px;
	line-height: 20px;
	color: #aaa;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	margin: 0 4px;
	cursor: pointer;
}
#content .cont-left .page .page-on{
	background-color: #9dd8b1;
	color: #fff;
}
#content .cont-left .page  a{
	display: inline-block;
	width: 20px;
	height: 20px;
	text-decoration: none;
}
#content .cont-left .page  span:hover{
	color: #fff;
	background: #9dd8b1;
}
#content .cont-left .page .before-page{
	display: inline-block;
	background: url(../images/icon.jpg) no-repeat -27px -38px;
	width:30px;
	height: 20px;
}
#content .cont-left .page .next-page{
	display: inline-block;
	background: url(../images/icon.jpg) no-repeat -62px -38px;
	width:30px;
	height: 20px;
	margin-left: 5px;
}


/* 内容区 侧边栏 */
#content .side{
	float: left;
	width: 223px;
	background-color: #f8f8f8;
}
#content .side .video{
	width:226px
	height:175px;
	padding: : 0 auto;
	background: #fff;
	border: 1px solid #ddd;
}
#content .side .video h2{
	font-size: 16px;
	line-height: 55px;
	color: #666;
	font-weight: normal;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
}
#content .side .video .v-info{
	height: 173px;
	margin-left: 22px;
	position: relative;
}
#content .side .video .v-info img{
	cursor: pointer;
}
#content .side .video .v-info p{
	font-size: 14px;
	line-height:22px;
	color: #666;
	padding: 18px 0 5px;
}
#content .side .video .mp4{
	width: 180px;
	height: 110px;
	margin: 9px 22px;
}
#content .side .video .v-mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 500;
}
#content .side .video .v-mask .v-video{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50% -50%);
	height: 678px;
	margin-left: -478px;
	margin-top: -339px;
	background: #fff;
}
#content .side .video .v-mask .v-video p{
	font-size: 18px;
	line-height: 24px;
	margin: 18px 0 18px 30px;
}
#content .side .video .v-mask .v-video .close{
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 10px;
	height: 10px;
	background: #fff url(../images/icon.jpg)  no-repeat -16px 0;
	cursor: pointer;
}
#content .side .video .v-mask .v-video .control{
	width: 890px;
	height: 566px;
	margin-left: 30px;
	position: relative;
}
#content .side .video .v-mask .v-video .control video{
	/*width: 888px;*/
	object-fit: contain;
}
#content .side .video .v-mask .v-video .control .pause{
	display: inline-block;
	position: absolute;
	top: 345px;
	left: 17px;
	width: 60px;
	height: 60px;
	background:  url(../images/play-btn.jpg)  no-repeat 0 0;
}


#content .side .pop{
	background: #fff;
	box-shadow: 0 1px 1px #d4d3d3;
	margin-top: 10px;
}
#content .side .pop h3{
	font-size: 16px;
	line-height: 55px;
	padding-left: 20px;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}
#content .side .pop ul li{
	width: 184px;
	height: 50px;
	/*border: 1px solid purple;*/
	margin: 20px auto;
}
#content .side .pop ul li img{
	float: left;
	margin-left: 0;
	margin-right: 8px;
}
#content .side .pop ul li p{
	color: #7a7a7a;
	margin-top: -2px;
}
#content .side .pop li .title{
	display: inline-block;
	/*float: left;*/
	border: 1px solid #f00;
}
#content .side .pop p{
	display: inline-block;
	float: left;
}
#content .side .pop .person{
	display: inline-block;
	width: 9px;
	height: 11px;
	background: #fff url(../images/icon.jpg) no-repeat -45px 0;
	margin-right: -15px;
	margin-bottom: -1px;
}
#content .side .pop .follow{
	margin-top: 10px;
}
#content .side .pop .follow span{
	display: inline-block;
	margin-left: 20px;
}






/* 底部区 */
.clearfix:after, .clearfix:before {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#footer{
	width: 100%;
	height: 261px;
	/*margin-top: 120px;*/
	background: #2c3339;
}
#footer .wrap {
	margin: 0 auto;
	width: 1100px;
	font-size: 14.58px;
	/*border: 1px solid cyan;*/

}
#footer .wrap .fl{
	display: inline-block;
	/*vertical-align: top;*/
	float: left;
}
#footer .copyright{
	margin-top: 90px;
	/*margin-left: 256px;*/
	width: 545px;
}
#footer .copyright .edu{
	display: inline-block;
	background: url(../images/edu.png) no-repeat ;
	vertical-align: text-bottom;
	width: 71px;
	height: 21px;
	padding-right: 14px;
	margin-bottom: -3px;
}
#footer .copyright .net{
	display: inline-block;
	color: #39a030;
	font-size: 20px;
	margin-top: -2px;
	margin-bottom: 16px;
}
#footer .copyright  p{
	margin-bottom: 13px;
	color: #bebfc0;
	font-size: 12.5px;
}
#footer{
	/*border: 1px solid blue;*/
	margin-top: 80px;
}
#footer .link{
	color: #bebfc0;
	font-size: 14.58px;
	width: 210px;
	margin-top: 80px;
}
#footer .link ul a{
	color: #bebfc0;
	font-size: 14.58px;
	font-weight: normal;
}
#footer .link ul li{
	margin-top: 15px;
}
#footer .link ul li a{
	text-decoration: none;
}
#footer .link ul li a:hover{
	text-decoration: underline;
}
#footer .us{
	color: #bebfc0;
	font-size: 14.58px;
	width: 155px;
	margin-top: 80px;
}
#footer .us ul a{
	color: #bebfc0;
	font-weight: normal;
}
#footer .us  ul li{
	margin-top: 15px;
}
#footer .us  ul li a{
	text-decoration: none;
}
#footer .us  ul li a:hover{
	text-decoration: underline;
}
#footer .us .follow .weibo{
	display: inline-block;
	background: url(../images/weibo.png) no-repeat ;
	width: 20px;
	height: 16px;
	margin-left: 10px;
	margin-bottom: -2px;
}

#footer .more-cont{
	width: 165px;
	margin-top: 80px;
}
#footer .more-cont ul li{
	margin-top: 15px;}
#footer .more-cont ul a{
	color: #bebfc0;
	font-weight: normal;}
#footer .more-cont ul li a{
	text-decoration: none;
}
#footer .more-cont ul li a:hover{
	text-decoration: underline;
}
#footer .more-cont{
	color: #bebfc0;
}
@media screen and (max-width: 1205px){
	.inform .inform-cont, .naviator, #intro, #banner{
		width:960px;
	}
	#intro .c-intro{
		width: 271px;
	}
	#intro> .c-intro+.c-intro{
		/*margin-left: 73.5px;*/
	}
	#intro{
		width:1296px;
	}
	#content .cont-left,#content .cont,#content .page{
		width: 735px;
	}
	#content .cont-left .cont .courses{
		margin-right: 19px;
	}
}
